﻿@page "/allgoods"

@inherits AllGoodsBase

@if (donToInit == false)
{
<div class="text-lg-center">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading.....</span>
    </div>
</div>
}
else
{
    <h2 class="oi-header">모든 상품 목록</h2>
    <AuthorizeView>
        <Authorized>
            @{ 
                if (context.User.IsInRole("Admin"))
                {
                    <p>Tag에 할당되지 않은 Slot 개수 : @cntSlotNoTag</p>                   
                }
            }
            
        </Authorized>
    </AuthorizeView>
    <hr />

    @foreach (var itemsPerUser in dicGoods)
    {
        <GoodsPerUser userInfo="itemsPerUser.Key" dicSlot="itemsPerUser.Value">

        </GoodsPerUser>
    }
}