﻿@page "/allslot"

@inherits AllSlotBase

@if (donToInit == false)
{
    <div class="spinner">

    </div>
}
else
{
    @foreach (var itemsPerUser in dicSlot)
    {
        var userIdentity = itemsPerUser.Key;
        <h2 class="oi-header">@userIdentity.Email / @userIdentity.manager / @userIdentity.etc</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>키워드</th>
                        <th>만료일</th>
                        <th>동작회수</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in itemsPerUser.Value)
                    {
                    <tr>
                        @if (item.goods == null)
                        {
                            <th></th>
                        }
                        else
                        {
                            <th>@item.goods.keyword</th>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}