﻿@inherits DiaplayGoodsItemBase

<tr>
    <th>@goods.keyword</th>
    <th>@goods.value1</th>
    <th>@goods.value2</th>
    <th>@goods.option</th>
    <th>@goods.rank1</th>
    <th>@goods.rank1Change</th>
    <th>@goods.rank2</th>
    <th>@goods.rank2Change</th>
    <th>@goods.goodsName</th>
    <th>@goods.customer</th>
    <th>@goods.memo</th>
    <th><button type="button" class="btn btn-primary" @onclick="OnclickEdit">수정</button></th>
    <th><button type="button" class="btn btn-danger m-1" @onclick="OnclickDelete">삭제</button></th>
</tr>
<KeywordManager.Components.Confirm @ref="deleteConfirm" ConfirmationChanged="DoDelete" ConfirmationTitle="삭제" ConfirmationMessage="정말 삭제 하시겠습니까?">

</KeywordManager.Components.Confirm>