﻿@page "/editgoodsitem/{id}"
@inherits EditeGoodsItemBase

@if (donToInit == false)
{
    <div class="spinner">

    </div>
}
else
{
<EditForm Model="@goods" OnValidSubmit="UpdateGoods">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    <hr />
    <h3>상품 수정</h3>
    <div class="form-group row">
        <label for="point" class="col-sm-2 col-form-label">
            키워드
        </label>
        <div class="col-sm-10">
            <InputText id="keyword" class="form-control" placeholder="키워드 입력"
                       @bind-Value="goods.keyword" />
            <ValidationMessage For="@(() => goods.keyword )" />
        </div>
        <label for="point" class="col-sm-2 col-form-label">
            1차값
        </label>
        <div class="col-sm-10">
            <InputText id="value1" class="form-control" placeholder=""
                       @bind-Value="goods.value1" />
            <ValidationMessage For="@(() => goods.value1 )" />
        </div>
        <label for="point" class="col-sm-2 col-form-label">
            2차값
        </label>
        <div class="col-sm-10">
            <InputText id="value2" class="form-control" placeholder=""
                       @bind-Value="goods.value2" />
            <ValidationMessage For="@(() => goods.value2 )" />
        </div>
        <label for="point" class="col-sm-2 col-form-label">
            옵션
        </label>
        <div class="col-sm-10">
            <InputText id="option" class="form-control" placeholder="옵션 입력"
                       @bind-Value="goods.option" />
            <ValidationMessage For="@(() => goods.option )" />
        </div>
        <label for="point" class="col-sm-2 col-form-label">
            상품명
        </label>
        <div class="col-sm-10">
            <InputText id="goodsName" class="form-control" placeholder="상품명 입력"
                       @bind-Value="goods.goodsName" />
            <ValidationMessage For="@(() => goods.goodsName )" />
        </div>
        <label for="point" class="col-sm-2 col-form-label">
            고객
        </label>
        <div class="col-sm-10">
            <InputText id="customer" class="form-control" placeholder="고격명 입력"
                       @bind-Value="goods.customer" />
            <ValidationMessage For="@(() => goods.customer )" />
        </div>
        <label for="point" class="col-sm-2 col-form-label">
            메모
        </label>
        <div class="col-sm-10">
            <InputText id="memo" class="form-control" placeholder="메모 입력"
                       @bind-Value="goods.memo" />
            <ValidationMessage For="@(() => goods.memo )" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">갱신</button>
    <button class="btn btn-primary" @onclick="OnclickCancel">취소</button>
</EditForm>
}

