﻿@page "/editmember/{id}"

@inherits EditMemberBase

@if (donToInit == false)
{
    <div class="text-lg-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading.....</span>
        </div>
    </div>
}
else
{
    <h2 class="oi-header">회원 편집</h2>
    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email : </label>
            <label class="col-sm-10">@identityUser.Email</label>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Role : </label>
            <label class="col-sm-10">User</label>
        </div>
        <div class="form-group row">
            <label for="cntSlot" class="col-sm-2 col-form-label">슬롯개수</label>
            <input type="number" class="col-sm-10" id="cntSlot" @bind-value="userPoint.cntSlot" />
        </div>
        <div class="form-group row">
            <label for="manager" class="col-sm-2 col-form-label">담당 매니져</label>
            <select id="selectManager" class="col-sm-10" @bind="identityUser.manager">
                @foreach (var item in listManager)
                {
                    <option value="@item.Email">@item.company</option>
                }
            </select>
        </div>
        <div class="form-group row">
            <label for="cntSlot" class="col-sm-2 col-form-label">업체명</label>
            <input type="text" class="col-sm-10" id="cntSlot" @bind-value="identityUser.company" />
        </div>
        <div class="form-group row">
            <label for="cntSlot" class="col-sm-2 col-form-label">기타</label>
            <input type="text" class="col-sm-10" id="cntSlot" @bind-value="identityUser.etc" />
        </div>

        <div class="form-group row">
            <button type="button" class="btn btn-primary" @onclick="OnclickUpdate">적용</button>
            <a href=@($"listmember") class="btn btn-info">취소</a>
        </div>

    </form>
   
}

<KeywordManager.Components.PopupMsg @ref="msgBox"></KeywordManager.Components.PopupMsg>

