﻿@page "/"


<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <p>Sorry, you're not authorized to reach this page.</p>
    </NotAuthorized>
</AuthorizeView>
