﻿@page "/listmember"
@inherits ListMemberBase

<AuthorizeView>
    <Authorized>
        @if (context.User.IsInRole("Admin") || context.User.IsInRole("Manager"))
        {
            if (loadDone == false)
            {
                <div class="text-lg-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading.....</span>
                    </div>
                </div>
            }
            else
            {
                <h2 class="oi-header">회원관리</h2>
                if (context.User.IsInRole("Admin"))
                {
                    <p>총 Slot 개수 : @totalSlot</p>
                }

                foreach (var item in dicManager)
                {
                    if (context.User.IsInRole("Manager"))
                    {
                        if (item.Key.name != context.User.Identity.Name)
                            continue;
                    }

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-2">
                                    <span class="align-middle"><b>담당자</b> : @item.Key.company</span>
                                </div>
                                <div class="col-sm-2">
                                    @if (item.Key.role == "User" || string.IsNullOrEmpty(item.Key.role))
                                    {
                                        <span class="align-middle">
                                            <b>슬롯 개수</b> : @item.Key.cntSlot
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="align-middle">
                                            <!--<b>슬롯 개수</b> : 15-->
                                        </span>
                                    }
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group" style="width: 100%">
                                        <input type="text" placeholder="메모1" id="memo1" style="width: 40%" @bind="@item.Key.memo1">
                                        <input type="text" placeholder="메모2" id="memo2" style="width: 40%" @bind="@item.Key.memo2">
                                        <div class="input-group-btn">
                                            <button class="btn btn-outline-primary" @onclick="async()=> { await UpdateUP(item.Key); }">저장</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-1">
                                    @if (context.User.IsInRole("Admin") && item.Value.Count <= 0)
                                    {
                                        <button type="button" class="btn btn-danger btn-sm" @onclick="() => { OnclickDelManager(item.Key); }">삭제</button>
                                    }
                                    else
                                    {
                                        <!--
                                        <button type="button" class="btn btn-danger btn-sm" @onclick="() => { OnclickDelManager(item.Key); }">삭제</button>
                                            -->
                                    }
                                </div>

                            </div>
                                                                               
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">업체명</th>
                                                <th scope="col">아이디</th>
                                                <th scope="col">수량</th>
                                                <th scope="col">만료일자</th>
                                                <th scope="col">편집</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var customer in item.Value)
                                            {
                                                <tr>
                                                    <td>@customer.company</td>
                                                    <td>@customer.name</td>
                                                    <td>@customer.cntSlot</td>
                                                    @if (context.User.IsInRole("Admin"))
                                                    {
                                                        <td><RadzenDatePicker TValue="DateTime" @bind-Value="customer.expire" ShowTime="false" HourFormat="24" Change=@(args => OnChange(args,customer.id, "DatePicker with time", "MM/dd/yyyy HH:mm")) DateFormat="yyyy-MM-dd" /></td>
                                                    }
                                                    else
                                                    {
                                                        <td style="@Util.GetStyleDate(customer.expire)">@customer.expire.ToString("yyyy-MM-dd")</td>
                                                    }



                                                    @*<td style="@Util.GetStyleDate(customer.expire)">@customer.expire.ToString("yyyy-MM-dd")</td>*@
                                                    <td>
                                                        <a href=@($"SlotManaging/{customer.id}") class="btn btn-primary btn-sm">보기</a>
                                                        @*<button type="button" class="btn btn-primary btn-sm" @onclick="()=> { }">보기</button>*@
                                                        @if (context.User.IsInRole("Admin"))
                                                        {
                                                            <a href=@($"editmember/{customer.id}") class="btn btn-info btn-sm">편집</a>
                                                            <button type="button" class="btn btn-danger btn-sm" @onclick="()=> { OnclickDel(customer); }">삭제</button>
                                                        }

                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                        </ul>
                    </div>
                }

                @if (context.User.IsInRole("Admin") && listUserNoManager.Count > 0)
                {
                    <hr />
                    <hr />
                    <h3>담당자 없는 유져</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">업체명</th>
                                            <th scope="col">아이디</th>
                                            @*<th scope="col">매니져</th>*@
                                            <th scope="col">수량</th>
                                            <th scope="col">만료일자</th>
                                            <th scope="col">편집</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var customer in listUserNoManager)
                                        {
                                            <tr>
                                                <td>@customer.company</td>
                                                <td>@customer.name</td>
                                                @*
                                                <td>
                                                    <RadzenDropDown AllowClear="true" TValue="string" Data=@(listManager.Select(c=> c.Email).Distinct()) @bind-Value="customer.manager" Change=@(args => UpdateManager(args, customer.id))>

                                                    </RadzenDropDown>
                                                </td>
                                                *@
                                                <td>@customer.cntSlot</td>
                                                <td style="@Util.GetStyleDate(customer.expire)">@customer.expire.ToString("yyyy-MM-dd")</td>
                                                <td>
                                                    <a href=@($"SlotManaging/{customer.id}") class="btn btn-primary btn-sm">보기</a>
                                                    <a href=@($"editmember/{customer.id}") class="btn btn-info btn-sm">편집</a>
                                                    @*<button type="button" class="btn btn-primary btn-sm" @onclick="()=> { }">보기</button>*@
                                                    <button type="button" class="btn btn-danger btn-sm" @onclick="()=> { OnclickDel(customer); }">삭제</button>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    </ul>
                }
            }

        }
        else
        {
            <p>접근할 수 없습니다.</p>
        }
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

<KeywordManager.Components.PopupMsg @ref="msgBox"></KeywordManager.Components.PopupMsg>
