﻿@inherits PopupRegistSlotBase


@if (show)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">상품 @caption</div>
                <br />
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="keyword">검색키워드</label>
                            <input type="text" class="form-control" id="keyword" @bind="goods.keyword" />
                        </div>
                        <div class="form-group">
                            <label for="keyword">1차값</label>
                            <input type="text" class="form-control" id="keyword" @bind="goods.value1" />
                        </div>
                        <div class="form-group">
                            <label for="keyword">2차값</label>
                            <input type="text" class="form-control" id="keyword" @bind="goods.value2" />
                        </div>
                        <div class="form-group">
                            <label for="keyword">옵션</label>
                            <input type="text" class="form-control" id="keyword" @bind="goods.option" />
                        </div>
                        <div class="form-group">
                            <label for="keyword">메모</label>
                            <input type="text" class="form-control" id="keyword" @bind="goods.memo" />
                        </div>
                        <div class="form-group">
                            <label for="keyword">순위측정키워드</label>
                            <input type="text" class="form-control" id="keyword" @bind="goods.searchKeyword" />
                        </div>
                        <button type="button" class="btn btn-primary" @onclick="async()=> { await RegistSlot(); }">@caption</button>
                        <button type="button" class="btn btn-info" @onclick="OnclickCancel">취소</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
}

<PopupMsg @ref="popupMsg"></PopupMsg>

