﻿@page "/setting"
@inherits SettingBase


@if (setting == null)
{
    <div class="spinner">

    </div>
}
else
{
<EditForm Model="@setting" OnValidSubmit="HandleValidSubmit">
    <ObjectGraphDataAnnotationsValidator />
    <ValidationSummary />
    <hr />
    <h3>Service Setting</h3>
    <div class="form-group row">
        <label for="cntActionPerSlot" class="col-sm-2 col-form-label">
            키워드 슬롯당 동작 개수
        </label>

        <div class="col-sm-10">
            <InputNumber id="cntActionPerSlot" class="form-control" placeholder="cntActionPerSlot"
                         @bind-Value="setting.cntActionPerSlot" />
            <ValidationMessage For="@(()=> setting.cntActionPerSlot )" />
        </div>


        <label for="maxSlot" class="col-sm-2 col-form-label">
            동작 대기(분)
        </label>
        <div class="col-sm-10">
            <InputNumber id="term" class="form-control" placeholder="term"
                         @bind-Value="setting.term" />
            <ValidationMessage For="@(()=> setting.term )" />
        </div>

        <label for="maxSlot" class="col-sm-2 col-form-label">
            태그당 슬롯 개수
        </label>
        <div class="col-sm-10">
            <InputNumber id="term" class="form-control" placeholder="term"
                         @bind-Value="setting.maxTagSlot" />
            <ValidationMessage For="@(()=> setting.maxTagSlot )" />
        </div>

    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

</EditForm>
}

