﻿@page "/slotmanaging/{owner}"
@inherits SlotManagingBase

<div hidden="true">
    <BlazorInputFile.InputFile OnChange="LoadFiles" id="btnUpload" />
</div>

@if (doneToInit == false)
{
    <div class="text-lg-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading.....</span>
        </div>
    </div>
}
else
{
    <h2 class="oi-header">상품관리</h2>
    <hr />

    <AuthorizeView>
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-secondary" @onclick="OnclickDownloadSample">샘플파일</button>
                <button type="button" class="btn btn-secondary" onclick="document.getElementById('btnUpload').click()">엑셀 업로드</button>
                <button type="button" class="btn btn-secondary" @onclick="async()=> { await OnclickDownload(); } ">엑셀 다운로드</button>
                
                
            </div>
            <div class="btn-group mr-2" role="group">                
                <button type="button" class="btn btn-secondary" @onclick="OnclickInit">초기화</button>
            </div>
        </div>
        <br />
        <GoodsPerUser userInfo="viewUserPoint" dicSlot="listSlotGoodsInfo" hideGoods="false" showBtn="false" showCntValue="false" actionDel="OnclickDelItem" actionReg="OnclickRegGoods" actionEdit="OnclickEdit"></GoodsPerUser>
    </AuthorizeView>

    <PopupRegistSlot @ref="popupRegist"></PopupRegistSlot>
    <PopupMsg @ref="popupMsg"></PopupMsg>   
}

