﻿@inherits PopupMsgBase


@if (show)
{
    if (doneToLoad)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">@title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="()=> { show = false; }">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @msg
                    </div>
                    <div class="modal-footer">
                        @if (visibleOk)
                        {
                            <button type="button" class="btn btn-primary" @onclick="async()=> { await OnclickOK(); }">@captionOk</button>
                        }

                        @if (visibleCancel)
                        {
                            <button type="button" class="btn btn-secondary" @onclick="OnclickCancel">@captinoCancel</button>
                        }

                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div class="spinner" />
    }
} 