﻿@using Microsoft.AspNetCore.Identity
@using KeywordManager.Web.Services
@using KeywordManager.Model;
@using System.Security.Claims

@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="images/NLogo.png" style="width:35px;height:35px;" />KeywordManager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@if (doneToLoad) {
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized>

                <div class="card m-3">
                    <div class="card-header text-center">
                        @context.User.Identity.Name
                    </div>

                    <div class="card-footer text-center">
                        등급 : @roleName
                    </div>

                </div>


                @if (context.User.IsInRole("Admin"))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="Identity/Account/Register" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> 신규 계정 생성
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="listmember" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> 회원 관리
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="allgoods" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> 모든 상품 정보
                        </NavLink>
                    </li>
                    @*
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="allslot" Match="NavLinkMatch.All">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> 모든 슬롯 정보
                </NavLink>
            </li>
                    *@
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="setting" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> 서비스 세팅
                        </NavLink>
                    </li>
                }

                @if (context.User.IsInRole("Manager"))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="listmember" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> 회원 관리
                        </NavLink>
                    </li>

                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="allgoods" Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> 모든 상품 정보
                        </NavLink>
                    </li>

                }

                @*
        <li class="nav-item px-3">
            <NavLink class="nav-link" href=@($"goodsmanaging/{id}") Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 상품관리
            </NavLink>
        </li>
                *@
                @if (context.User.IsInRole("User"))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href=@($"slotmanaging/{id}") Match="NavLinkMatch.All">
                            <span class="oi oi-list-rich" aria-hidden="true"></span> 상품관리
                        </NavLink>
                    </li>
                }
                    
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Logout" Match="NavLinkMatch.All">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </NavLink>
                </li>

                @*
        <li class="nav-item px-3">
            <button class="btn btn-info" @onclick="async()=> { await OnclickTest(); }">
                Test
            </button>
        </li>
                *@

            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Identity/Account/Login" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="~/" Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Refresh
                    </NavLink>
                </li>
            </NotAuthorized>

        </AuthorizeView>
        
    </ul>
   
</div>

}
else {  
    <div class="spinner">

    </div>
}


