﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";

}

<script type="text/javascript">
    function ShowHideOption() {      
        let selectedOption = $(`#optionRole`).val();
        console.log(`Select value! ${selectedOption}`);
        if (selectedOption == "User") {
            $(`#targetManager`).show();
            $(`#targetSlot`).show();          
        }
        else {
            $(`#targetManager`).hide();
            $(`#targetSlot`).hide();
            $(`#inputSlot`).val = 1;
        }
    }


    window.onload = () => {
        console.log(`Call onload!`);
        this.ShowHideOption();
    };

</script>

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.role">Role</label>
                <select asp-for="Input.role" class="form-control" id="optionRole" onchange="ShowHideOption()">
                    @foreach (var item in Model.rolMgr.Roles)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="Input.role" class="text-danger"></span>
            </div>

            <div class="form-group" id="targetManager">
                <label asp-for="Input.manager">담당 매니져</label>
                <select asp-for="Input.manager" class="form-control">
                    <option value="">매니져를 선택해주세요</option>
                    @foreach (var item in await Model._userManager.GetUsersInRoleAsync("Manager"))
                    {
                        <option value="@item.Email">@item.company</option>
                    }
                </select>
                <span asp-validation-for="Input.manager" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Input.company">업체명</label>
                <input asp-for="Input.company" class="form-control" />
                <span asp-validation-for="Input.company" class="text-danger"></span>
            </div>

            <div class="form-group" id="targetSlot">
                <label asp-for="Input.cntSlot">슬롯개수</label>
                <input type="number" id="inputSlot" min="1" value="1" asp-for="Input.cntSlot" class="form-control" />
                <span asp-validation-for="Input.cntSlot" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.etc">기타</label>
                <input asp-for="Input.etc" class="form-control" />
                <span asp-validation-for="Input.etc" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
